/**
 *
 * {{ModelName}} List
 *
 */

import React from 'react';

import { Link } from 'react-router-dom';

const {{ModelName}}List = props => {
  const { {{ModelNamePluralLowerCase}} } = props;

  return (
    <div className='f-list'>
      { {{ModelNamePluralLowerCase}}.map((item, index) => (
        <Link
          to={`/dashboard/{{ModelNameLowerCase}}/edit/${item._id}`}
          key={index}
          className='d-block mb-3 p-4 {{ModelNameLowerCase}}-box'
        >
          <div className='d-flex align-items-center justify-content-between mb-2'>
            <h4 className='mb-0'>{item.name}</h4>
          </div>
          <p className='mb-2 {{ModelNameLowerCase}}-desc'>{item.description}</p>
        </Link>
      )) }
    </div>
  );
};

export default {{ModelName}}List;
